<div id="education" class=" section-education" style="padding-top: 6rem;">
    <div class="animate-up">
        <h2 class="section-title">Education</h2>
        <div class="timeline">
            <div class="timeline-bar"></div>
            <div class="timeline-inner clearfix">
                <div class="timeline-box timeline-box-compact ">
                    <span class="dot"></span>

                    <div class="timeline-box-inner ">
                        <span class="arrow"></span>
                        <div class="date">2012 - 2016</div>
                        <h3>BE-Electrical And Electronic Engineer</h3>
                        <img class="img" src="" alt="">
                        <h4>
                                T.J Institute of Technology 
                        </h4>
                    </div>
                </div>
                <div class="timeline-box timeline-box-compact ">
                    <span class="dot"></span>

                    <div class="timeline-box-inner ">
                        <span class="arrow"></span>
                        <div class="date">2011 - 2012</div>
                        <h3>Higher Secondary Education</h3>
                        <img class="img" src="" alt="">
                        <h4>
                            
                                Dr. Vimala convent Mat.Hr.Sec school
                        </h4>
                    </div>
                </div>
                <div class="timeline-box timeline-box-compact ">
                    <span class="dot"></span>

                    <div class="timeline-box-inner ">
                        <span class="arrow"></span>
                        <div class="date">2010 - 2011</div>
                        <h3>SSLC</h3>
                        <img class="img" src="" alt="">
                        <h4>
                            
                                Dr. Vimala convent Mat.Hr.Sec school 
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
