<section class="section">
    <div class="animate-up">
        <h2 class="section-title">Contact</h2>
        <div class="profile-social">
        <div class="section-box" style="padding:none!important;">

    <div class="example-container">
        <mat-form-field>
          <input matInput name="name"   placeholder="Name">
        </mat-form-field>
      
        <mat-form-field>
            <input matInput name="email"   placeholder="Email">
        </mat-form-field>

         <mat-form-field>
            <mat-select placeholder="Gender">
              <mat-option value="option">Male</mat-option>
              <mat-option value="option1">Female</mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Textarea"></textarea>
        </mat-form-field>

        <div class="example-button-row">
        <button mat-raised-button class="profile-social"><span style="color:white;">Select</span></button>
        </div>
      </div>
        </div>
        </div>
        </div>
        
</section>