<!-- <section class="section">
    <div class="animate-up">
        <h2 class="section-title">Contact</h2>
        <div class="profile-social">
        <div class="section-box" style="padding:none!important;">

    <div class="example-container">
        <mat-form-field>
          <input matInput name="name"   placeholder="Name">
        </mat-form-field>
      
        <mat-form-field>
            <input matInput name="email"   placeholder="Email">
        </mat-form-field>

         <mat-form-field>
            <mat-select placeholder="Gender">
              <mat-option *ngFor="let list of lists">{{list.value}}</mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Textarea"></textarea>
        </mat-form-field>

        <div class="example-button-row">
        <button mat-raised-button class="profile-social"><span style="color:white;">Select</span></button>
        </div>
      </div>
        </div>
        </div>
        </div>
        
</section> -->


<br>
<mat-card class="example-card profile-social">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><span style="color:white;">Contact</span></mat-card-title>
      <mat-card-subtitle><span style="color:white;">Information</span></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image style="margin-left: 1px;" src="./assets/img/contactme.jpg" alt="">
    <mat-card-content>
      <p>
          <span style="color:white;">
            contact. An individual's private or personal information by which another person, business, or entity can use to reach the individual. ... For example, an individual may say that he or she has a contact at XYZ Company, meaning the individual knows a person at 
            XYZ Company and has a way of reaching this person.
        </span>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openDialog()"><span style="color:white;">See More details in Dialog Modal</span></button>
    </mat-card-actions>
  </mat-card>