<footer class="footer">
    <div class="footer-social">
        <ul class="social">
            <li><a style="line-height: 0!important;" href="https://twitter.com/_pxlab" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
            </li>
            <li><a style="line-height: 0!important;" href="https://www.facebook.com/pxlaboratory/" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li>
            
            <li><a style="line-height: 0!important;" href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
            </li>
            <li><a style="line-height: 0!important;" href="https://instagram.com/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
            </li>
            <li><a style="line-height: 0!important;" href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i></a>
            </li>
            <li><a style="line-height: 0!important;" href="https://plus.google.com/" target="_blank"><i class="fa fa-google fa-2x" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</footer>
