<section id="about" class="section section-about">
    <div class="animate-up">
        <div class="section-box">
            <div class="profile">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="profile-photo">
                            <img alt=""
                                src="./assets/img/vivek.jpg"
                                class="photo"> 
                            
                            </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="profile-info">
                            <div class="profile-items clearfix">
                                <div class="profile-preword"><span>Hello</span></div>

                            </div>
                            <h1 class="profile-title">
                                <span>I&#039;m</span>
                                {{profile.name}} </h1>
                            <h2 class="profile-position">FrontEnd Developer</h2>
                        </div>
                        <ul class="profile-list">
                            <li class="clearfix">
                                <strong class="title">Age</strong>
                                <span class="cont">{{profile.age}}</span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">E-mail</strong>
                                <span class="cont"><a href="mailto:ramraghu.pnr@gmail.com">{{profile.email}}</a></span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">Phone</strong>
                                <span class="cont">{{profile.phone}}</span>
                            </li>
                            <li class="clearfix">
                                <strong class="title">DateOfBirth</strong>
                                <span class="cont">{{profile.dateOfBirth | birthdate}}</span>
                            </li>
                            <li class="clearfix">
                                    <strong class="title">Address</strong>
                                    <span class="cont">{{profile.address}}</span>
                                </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="profile-social">
                    <!-- <i class="fa fa-twitter"></i> -->
                <ul class="social">
                    <li><a style="line-height: 0!important;" href="https://twitter.com/ramvivek11" target="_blank">
                        <i class="fa fa-twitter fa-2x" style="color: white;" aria-hidden="true"></i></a></li>

                        <li><a style="line-height: 0!important;" href="https://www.facebook.com/ram.raghu.140" target="_blank">
                            <i class="fa fa-facebook-square fa-2x" style="color: white;" aria-hidden="true"></i></a></li>
            
                        <li><a style="line-height: 0!important;" href="https://www.linkedin.com/in/ramvivekr/" target="_blank">
                            <i class="fa fa-linkedin fa-2x" style="color: white;" aria-hidden="true"></i></a>
                        </li>
                        <li><a style="line-height: 0!important;" href="https://www.instagram.com/ramraghu.pnr/" target="_blank">
                            <i class="fa fa-instagram fa-2x" style="color: white;" aria-hidden="true"></i></a>
                        </li>
                        <li><a style="line-height: 0!important;" href="https://plus.google.com/" target="_blank">
                            <i class="fa fa-google-plus-square fa-2x" style="color: white;" aria-hidden="true"></i></a>
                        </li>
                        <li><a style="line-height: 0!important;" href="https://plus.google.com/" target="_blank">
                            <i class="fa fa-google fa-2x" style="color: white;" aria-hidden="true"></i></a></li>
                    </ul>
            </div>
        </div>

        
        <div class="section-txt-btn">
            <p>Hello! I&#8217;m Ramvivek R. Junior Software Developer expertise in Angular 
                with an experience of one year with demonstrated success in
                designing,implementing, and supporting interactive web applications..</p>

        </div>
    </div>
</section>










    








    
    

       