<h2 mat-dialog-title><span style="color: cadetblue;">Menu-List</span></h2>
<mat-dialog-content class="mat-typography" style="color: cadetblue;">

    <h3>About</h3>
    <p>Personal details definition: details about a person such as their name and address | 
      Meaning, pronunciation, translations and examples.</p>
  
    <h3>Skills</h3>
    <p>Do you really need a resume skills section? Wondering what to list and where? We've got 
      answers to all your questions about resume skills right here.</p>
  
    <h3>Portfolio</h3>
    <p>A portfolio is a grouping of financial assets such as stocks, bonds, commodities, currencies and cash equivalents, as well as their fund counterparts, 
      including mutual, exchange-traded and closed funds.</p>
  
    <h3>Experience</h3>
    <p>Employee Work Experience Details Report provides complete insights into the industry and various tasks or duties performed by a particular employee. This includes past 
      experiences and experience in the current company.</p>
  
    <h3>Education</h3>
  
    <p>Angular is a platform that makes it easy to build applications with the web. Angular
      combines declarative templates, dependency injection, end to end tooling, and integrated
      best practices to solve development challenges. Angular empowers developers to build
      applications that live on the web, mobile, or the desktop</p>
  
    <h3>Reference</h3>
  
    <p>Reference definition: Reference is defined as a mention of a situation. (noun) An example of reference is the 
      mention of a person's religion to another.</p>
  
    <h3>Calendar</h3>

    <p>A calendar is a chart or device which displays the date and the day of the week, and often the whole of a particular year divided up into months, weeks, and days. ... A calendar is a particular system for dividing time into periods 
      such as years, months, and weeks, often starting from a particular point in history.</p>

    <h3>Contact</h3>

    <p>Acontact details: Information on how to contact a person or entity, 
      typically including a telephone number , address etc.</p>


  </mat-dialog-content>
  
  
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close><span style="color: cadetblue;">Cancel</span></button>
  </mat-dialog-actions>
