
<br>
<mat-card class="example-card profile-social">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><span style="color:white;">Skills</span></mat-card-title>
      <mat-card-subtitle><span style="color:white;">Information</span></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image style="margin-left: 1px;" src="./assets/img/skillsme.jpg" alt="">
    <mat-card-content>
      <p>
          <span style="color:white;">
            Skills are the expertise or talent needed in order to do a job or task. Job skills allow you to do a particular job and life skills help you through everyday tasks. There are many different types of skills that can 
            help you succeed at all aspects of your life whether it's school .
        </span>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openDialog()"><span style="color:white;">See More details in Dialog Modal</span></button>
    </mat-card-actions>
  </mat-card>