.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('/assets/img/blogs.jpg');
    background-size: cover;
  }
  .mat-dialog-container{
    background-color: aquamarine;
  }
  