
<br>
<mat-card class="example-card profile-social">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><span style="color:white;">About</span></mat-card-title>
      <mat-card-subtitle><span style="color:white;">Information</span></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image style="margin-left: 1px;" src="./assets/img/calendar.jpg" alt="">
    <mat-card-content>
      <p>
          <span style="color:white;">
            A calendar is a chart or device which displays the date and the day of the week, and often the whole of a 
            particular year divided up into months, weeks, and days.
        </span>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openDialog()"><span style="color:white;">See More details in Dialog Modal</span></button>
    </mat-card-actions>
  </mat-card>