
<br>
<mat-card class="example-card profile-social">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><span style="color:white;">Portfolio</span></mat-card-title>
      <mat-card-subtitle><span style="color:white;">Information</span></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image style="margin-left: 1px;" src="./assets/img/portfoliome.jpg" alt="">
    <mat-card-content>
      <p>
          <span style="color:white;">
            Portfolio definition: A portfolio is a set of pictures by someone, or photographs of examples of their work,... | 
            Meaning, pronunciation, translations and examples.
        </span>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openDialog()"><span style="color:white;">See More details in Dialog Modal</span></button>
    </mat-card-actions>
  </mat-card>